{% extends 'base.html' %}
{% block title %}Deportes{% endblock %}

{% block content %}

<section class="deportes">
    <div class="deportes-header">
        <h2>DEPORTES</h2>
        <p>Elige tu deporte y reserva tu lugar para participar en la copa.</p>
    </div>
    <div class="deportes-grid">
        <div class="deporte">
            <img src="{{ url_for('static', filename='css/img/deportes/futbol.png') }}" alt="Fútbol">
            <h3>FÚTBOL</h3>
            <div class="linea"></div>
            <a href="{{ url_for('inscripcion_equipo', deporte='futbol') }}" class="boton-reservar">RESERVAR AHORA</a>
        </div>
        <div class="deporte">
            <img src="{{ url_for('static', filename='css/img/deportes/voley.png') }}" alt="Vóley">
            <h3>VÓLEY</h3>
            <div class="linea"></div>
            <a href="{{ url_for('inscripcion_equipo', deporte='voley') }}" class="boton-reservar">RESERVAR AHORA</a>
        </div>
        <div class="deporte">
            <img src="{{ url_for('static', filename='css/img/deportes/basquet.png') }}" alt="Básquet">
            <h3>BÁSQUET</h3>
            <div class="linea"></div>
            <a href="{{ url_for('inscripcion_equipo', deporte='basquet') }}" class="boton-reservar">RESERVAR AHORA</a>
        </div>
    </div>
</section>
{% endblock %}