{% extends 'base.html' %}
{% block title %}Entradas e Inscripciones{% endblock %}

{% block content %}
<section class="entradas">
    <a href="{{ url_for('index') }}" class="volver">&lt; Volver</a>
    <h1>ENTRADAS E INSCRIPCIONES</h1>
    <p>Aquí podrás gestionar tu entrada a la copa de una forma simple e intuitiva...</p>

    <div class="opciones">
        <div class="opcion">
            <img class="opcion-img" src="{{ url_for('static', filename='static/img/fondo-nosotros.jpg') }}" alt="Entrada general">
            <a href="#" class="boton">COMPRAR ENTRADA GENERAL</a>
        </div>
        <div class="opcion">
            <img class="opcion-img" src="{{ url_for('static', filename='img/copa renault.png') }}" alt="Inscripción equipo">
            <a href="#" class="boton">INSCRIPCIÓN DE MI EQUIPO</a>
        </div>
    </div>
</section>
{% endblock %}
