
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Compra tu entrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class="compra-container">
        <div class="imagen-compra">
            <img src="{{ url_for('static', filename='img/domo.jpg') }}" alt="Cupula Renault">
        </div>
        <div class="info-compra">
            <p style="font-size: 0.8em; text-align: right;">(debajo de Sobre nosotros)</p>
            <h2>COMPRÁ TU ENTRADA</h2>
            <h1>$10.000</h1>
            <p class="vigencia">Precio de entrada general valido hasta el 30 de abril</p>
            <button>COMPRAR</button>
            <ul>
                <li>Shows en vivo y sorteos</li>
                <li>Fotos aseguradas con tus amigos</li>
                <li>Actividades al aire libre todo el dia</li>
                <li>El mejor plan una vez al año</li>
            </ul>
        </div>
    </section>
</body>
</html>