{% extends 'base.html' %}
{% block title %}Inicio - ITR Coup{% endblock %}

{% block content %}

<!--    seccion principal -->
<section class="welcome">
    <div class="welcome-text">
        <h2>ITR COUP</h2>
        <p>El evento deportivo intercolegial más grande de todo Córdoba, Argentina.</p>
        <a href="{{ url_for('informacion') }}" class="boton-blanco">VER MÁS →</a>
    </div>
</section>

<!--    seccion sobre nosotros -->
<section class="sobre-nosotros-preview">
    <div class="texto">
        <h3>SOBRE NOSOTROS</h3>
        <p>La Copa Renault es un torneo intercolegial organizado por el Instituto Técnico Renault. Cada año reúne a colegios de toda la provincia para competir en distintas disciplinas deportivas, promoviendo la inclusión, la convivencia y el disfrute en un entorno seguro, con actividades recreativas y momentos emblemáticos como el tradicional “Banderazo”.</p>
        <a href="{{ url_for('nosotros') }}" class="boton-amarillo">SABER MÁS →</a>
    </div>
    <div class="imagen">
    <img src="static\css\img\SNosotros-preview.png" alt="Estudiantes con bombos">
    </div>
</section>
<section class="compra-container">
        <div class="imagen-compra">
            <img src="static\css\img\Cupula2016.jpg" alt="Cupula Renault">
        </div>
        <div class="info-compra">
            <h2>COMPRÁ TU ENTRADA</h2>
            <h1>$10.000</h1>
            <p class="vigencia">Precio de entrada general valido hasta el 30 de abril</p>
            <a href="{{ url_for('entradas') }}" class="boton">COMPRAR AHORA</a>
            <ul>
                <li>Shows en vivo y sorteos</li>
                <li>Fotos aseguradas con tus amigos</li>
                <li>Actividades al aire libre todo el dia</li>
                <li>El mejor plan una vez al año</li>
            </ul>
        </div>
    </section>
{% endblock %}