{% extends 'base.html' %}
{% block title %}Inscripcion de equipos{% endblock %}

{% block content %}

<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inscripcion Copa Renault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Inscripcion Copa Renault</h1>
    <p>Completa el formulario para inscribir a tu equipo en la copa.</p>
    <h1>si elegiste antes la disciplina entonces t debe salir la elegida, q se entienda cm q es un solo equipo al q se inscribe ,
        que se indique la fecha predeterminada y q le diga cuanto debera pagar, que ingrese todos los datos del equipo y del representante, q ponga el telefono y correo de contacto
    </h1>
    <form action="/inscripcion" method="POST">
        <label>Fecha:</label>
        <input type="date" name="fecha" required><br>

        <label>Disciplina:</label>
        <select name="disciplina">
            <option value="voley">Voley</option>
        </select><br>

        <label>Cantidad de Equipos:</label>
        <input type="number" name="cantidad" min="1" value="1"><br>

        <label>Colegio:</label>
        <select name="colegio">
            <option value="ITR">ITR</option>
        </select><br>

        <label>Nombre del equipo:</label>
        <input type="text" name="nombre_equipo" required><br>

        <label>Categoría:</label>
        <select name="categoria">
            <option value="mayor">Mayor</option>
        </select><br>

        <label>Correo o Telefono:</label>
        <input type="text" name="contacto" required><br>

        <button type="submit">PAGAR</button>
    </form>
</body>
</html>
{% endblock %}