{% extends 'base.html' %}
{% block title %}Sobre Nosotros - Copa Renault{% endblock %}

{% block content %}
<section class="sobre-nosotros">
    <h2>Copa Renault</h2>
    <p>La <strong>Copa Renault</strong> es un evento deportivo intercolegial que se celebra anualmente en el Instituto Técnico Renault, y que se ha consolidado con los años como el torneo más grande de Córdoba en su categoría. Participan colegios de toda la provincia en disciplinas como vóley, fútbol y básquet, fomentando no solo la competencia sana, sino también la convivencia y el disfrute entre estudiantes.
Tenemos como objetivo principal seguir siendo un punto de encuentro para estudiantes de toda Córdoba, fomentando el deporte, la inclusión, la sociabilidad y el disfrute en un entorno seguro y bien organizado.
Este torneo se lleva a cabo desde hace muchos años, al punto de convertirse en un verdadero distintivo del Instituto, reconocido por su trayectoria, su organización y el espíritu que lo caracteriza. Más allá del deporte, la Copa Renault es una experiencia integral: quienes no compiten también pueden asistir y participar de diversas actividades recreativas, shows en vivo, sorteos y premios.
Lo que hace única a esta Copa es la magnitud del evento, la calidad de los sponsors, el compromiso de quienes lo organizan y la eficiencia con la que se gestionan todas las áreas. Todo esto garantiza un ambiente seguro, entretenido y de alta calidad para cada participante y visitante. Además, el predio cuenta con amplios espacios verdes que permiten disfrutar al aire libre y vivir cada jornada a pleno.
Un momento que se destaca es el “Banderazo”, que se realiza antes de que comiencen las actividades: los estudiantes locales cantan, se pintan, tiran espuma y a eso se le suman el reto de colegios representando al suyo, mostrando así todos juntos la emoción del encuentro. Este evento llena de alegría el ambiente marcando así el inicio de lo que será, para muchos, una de las mejores experiencias del año.
</p>
</section>
{% endblock %}
